*{
  /* border: 1px solid black; */
  font-family: cursive, arial;
}

body {
  margin: 20px auto;
  background-image: url(blueback.jpg);
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
}
#text {
  font-size: 18px;
  padding-left: 5px;
}
#text a {
  text-decoration: none;
  color: black;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  top: -30px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding-top: 40px; /* 15px padding */
  width: 120px; /* Set a specific width */
  height: 40px;
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 0px 5px 5px; /* Rounded corners on the top right and bottom right side */
  text-align : center;
}

#mySidenav a:hover {
  top: 0; /* On mouse-over, make the elements appear as they should */
}

#program {
  right: 510px;
  background-color: #133c55;
}

#events {
  right: 385px;
  background-color: #386fa4;
}

#register {
  right: 260px;
  background-color: #59a5d8;
}

#appointment {
  right: 135px;
  background-color: #84d2f6;
  width: 150px;
}

#contact {
  right: 10px;
  background-color: #91e5f6
}

h1 {
  color: black;
}

header
{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-family: 'Concert One', cursive;
}

fieldset {
  width:50%;
  margin: 10px auto;
  border:3px solid black;
  background-color: #84d2f6;
  border-radius: 15px;
  padding: 0px;
}

.formColor {
  padding: 20px;
}

strong {
  color: red;
}

form {
  padding-left: 40px;
}

input {
  width: 280px;
}

#required {
  font-size: 13px;
}

#name {
  position: relative;
  width: 628px;
}

#area_Code {
  width: 30px;
}

#no {
  position: relative;
  width: 235px;
}

.Email {
  margin-left: 139px
}

#inEmail {
  position: relative;
  margin-left: 59px;
}

.inDate {
  position: relative;
}

.Time {
  margin-left: 240px;
}

.inTime {
  margin-left: 60px;
}

textarea {
  width: 628px;
}

button {
  margin-left: 580px;
}

hr {
  border: 1px solid #001233;
  background-color: #001233;
  width:60%;
}

footer {
  font-size: 13px;
  text-align: center;
}
